.skills-icon {
    background: #242424;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    transition: all 1s ease;
  
  }
  
  .skills-icon:hover {
    background: red;
  }
  
  
  .skills-icon span {
    font-size: 100px;
    color: #909090;
    transition: all 1s ease-in-out;
  }
  
  .skills-icon:hover span {
    color: #f1fffa;
  }
  
  .title-underline {
    height: 5px;
    width: 250px;
    background: #2a9134;
    margin: -28px auto 0 auto;
  }

  h3 {
    color: black;
  }